APP_NAME="YOUR APP NAME"
APP_ENV=development # development, production
APP_PORT=3000
APP_BASE_URL="127.0.0.1"

LOG_LEVEL=6 #

DATABASE_NAME=your_database_name
DATABASE_USER=root
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Database connection pool settings
POOL_MAX_IDLE_CONNS=10 # The maximum number of connections in the idle connection pool.
POOL_MAX_OPEN_CONNS=50 # The maximum numer of open connction to the database
POOL_CONN_IDLE_TIME=5 # The maximum amount of time a connection may be idle before being closed. This should be less than the database's connection timeout to prevent unexpected disconnections.
POOL_CONN_LIFE_TIME=60 # The maximum amount of time a connection may be reused before being closed. This should be less than the database's connection timeout to prevent unexpected disconnections.

ELASTICSEARCH_ADDRESSES=http://localhost:9201 # If you have multiple Elasticsearch nodes, you can specify them as a space-separated list, e.g. "http://localhost:9201 http://localhost:9202"
ELASTICSEARCH_USER_INDEX="your_app_users"
ELASTICSEARCH_PRODUCT_INDEX="your_app_products"